{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script type="text/javascript" src="{% static 'js/checkout.js' %}" defer></script>
{% endblock meta %}

{% block content %}
<body style="color: white;background-color: #126164;">
  <br>
  <div class="container">
    <h3 style="font-weight: 700; text-align: center;">
      Daftar Checkout Pengantaran Buku
    </h3>
  </div>
  <div class="container">
    <div class="persegi-panjang"></div>
  </div>
  <br>
  <br>
  <div class="container">
    <form class="d-flex" method="GET" action="{% url 'antar:show_list_checkout_filter' %}">
      <input class="form-control me-2" name="query" type="search" placeholder="Search Nama Buku" aria-label="Search">
      <button type="submit" class="btn" style="background-color: #CEDD00;color: #0B7377;">Search</button>
    </form>
  </div>
  <br>
  <div class="card-container" id="personCheckout" data-role="{{ role }}">
  </div>
</body>
{% endblock content %}