{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script type="text/javascript" src="{% static 'js/pesan.js' %}" defer></script>
{% endblock meta %}

{% block content %}
<body style="background-color: #126164;color: #fff;">
  <br>
  <div class="container">
    <h3 style="font-weight: 700; text-align: center;">
      Form Pengantaran Buku
    </h3>
  </div>
  <div class="container">
    <div class="persegi-panjang"></div>
  </div>
  <br>
  <div class="container-fluid" style="margin-bottom: 20px;max-width: 400px;">
    <form id="form" onsubmit="return false;">
      {% csrf_token %}
      {{form.as_p}}
      <div class="container">
        <a href="{% url 'antar:show_list_books' %}">
          <button type="button" class="btn" style="background-color: #CEDD00;color: #0B7377;"
            type="button">Kembali</button>
        </a>
      </div>
      <br>
      <div class="container">
        <button type="button" class="btn" style="background-color: #CEDD00;color: #0B7377;" id="button_add" onclick="addProduct({{id_buku}})">Antar Sekarang</button>
      </div>
      </p>
  </div>
</body>
{% endblock content %}