{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  body {
    font-family: 'Sora', sans-serif;
    background-color: #126164;
    color: #fff;
  }

  .hero {
    padding-top: 20px;
    padding-bottom: 200px; 

  }

  .persegi-panjang {
    height: 10px; /* Tinggi elemen */
    width: 100px;
    margin-top: 10px;
    background-color: #FFFF; /* Warna latar belakang, ganti dengan warna yang Anda inginkan */
    }

  .container-bg{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .custom-bg {
    background-color: #CEDD00; 
    color: #0B7377; 
  }

  .card-container-detail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 700px));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    padding: 0px 5px;
    margin-bottom: 20px;
    flex-direction: column; /* Menata item-item secara vertikal */
    align-items: center; /* Menyelaraskan item-item di tengah secara horizontal */
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    background-color: #FFF;
    color: #0B7377;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    padding: 0px 5px;
    margin-bottom: 20px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-foot {
    display: flex;
    justify-content: space-between; /* memberikan jarak antar button */
    align-items: center; /* menyelaraskan button secara vertikal */
    flex-wrap: wrap; /* mengizinkan item untuk wrap jika tidak ada ruang */
    padding-bottom: 20px;
    gap: 10px;
  }

  .custom-h4 {
    font-family: 'Manrope', sans-serif;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.4; 
    font-size: 18px;
  }

  .custom-button {
    background-color: #CEDD00; 
    color: #0B7377; 
    padding: 10px 20px; 
    margin-top: 20px; 
    border: none; 
    border-radius: 20px; 
    font-family: 'Sora', sans-serif;
    font-weight: 600;
  }

  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .venue-info {
    display: flex;
    align-items: center; /* Menyelaraskan ikon dan teks secara vertikal */
    gap: 10px; /* Jarak antara ikon dan teks */
  }

  .venue-icon {
      flex-shrink: 0; /* Menghindari ikon untuk menyusut jika ada kekurangan ruang */
  }

  .venue-name {
      padding-top: 20px;
      font-weight: bold;
      font-size: 24px;  /* Anda bisa mengatur ukuran sesuai keinginan */
      text-align: left;
      margin: 0; /* Menghapus margin default dari elemen <p> */
  }

  .venue-list {
      padding: 80px;  /* Anda dapat menyesuaikan nilai padding sesuai keinginan */
  }

</style>

<br>
<div class="hero">
    <div class="container-bg" style="padding-top:150px ;" >
      <h2 style="font-weight: 600; text-align: center;">BacaDiTempat</h2>
      <h4 class="custom-h4">
        Berikut merupakan detail lokasi yang anda pilih </h4>
    </div>
    <div class="container">
      <a href="{% url 'main:show_main' %}">
        <button class="custom-button">
            Home
        </button>
      </a>
      <a href="{% url 'bacaditempat:show_list_status'  venue.pk %}">
        <button class="custom-button">
            Booking Status 
        </button>
      </a>
      <br>
      
    </div>
</div>

<div class="container">
  <h3 style="font-weight: 700; text-align: center;">
    Detail Venue
  </h3>
</div>

<!-- Tempatkan persegi panjang di sini -->
<div class="container">
  <div class="persegi-panjang"></div>
  <br>
</br>
</div>

<!-- Kontainer untuk semua card -->
<div class="card-container-detail">

    <div class="card mt-3">
        <!-- Header Card -->
        <div class="venue-name">
            {{ venue.place_name }}
        </div>
        
        <!-- Body Card -->
        <div class="card-body">
            <div class="row">
                <!-- Map Location -->
                <div class="col-md-6">
                    <img src="{{ venue.map_location.url }}" alt="Lokasi {{ venue.place_name }}" class="img-fluid mb-3">
                </div>
    
                <!-- Informasi Venue -->
                <div class="col-md-6">
                    <!-- Jam Operasional -->
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        <span>Jam Operasional : {{ venue.venue_open }}</span>
                    </div>
                    
                    <!-- Alamat Venue -->
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        <span>Alamat :</span>
                        <br>
                        {{ venue.address }}
                        </br>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer Card -->
        <div class="card-foot">
            <a href="#daftar-buku" class="btn btn-primary custom-button">Lihat Buku</a>
            
            {% if user.role == 'A' %}
                <a href="{% url 'bacaditempat:edit_venue' venue.pk %}">
                    <button class="custom-button">
                        Edit
                      </button>
                </a>
                <a href="{% url 'bacaditempat:delete_venue' venue.pk %}" class="btn btn-danger custom-button ml-2">
                    <i class="bi bi-trash3-fill"></i> Hapus
                </a>
            {% endif %}
        </div>
    </div>
    
<!-- Daftar Buku Available -->

<h1 id="daftar-buku" class="container" style="font-weight: 700; text-align: center;">Daftar Buku Available</h1>
<div class="card-container">
    {% for book in books %}
    <div class="card text-white" style="width: 250px; height: 450px;">
        <div style="text-align: center;">
            <img class="card-img-top" src="{{book.thumbnail}}" alt="Card image cap" style="max-width: 200px; max-height: 250px; border-radius: 0;">
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title" style="font-size: 15px; color: black;">{{ book.title }}</h5>
                <p class="card-text" style="font-size: 15px; color: black;">Author: {{ book.display_authors }}</p>
            </div>
            <div style="display: flex; flex: row;">
                <a href="{% url 'bacaditempat:rent_book' book.pk %}" class="btn btn-primary btn1">
                    Pinjam
                </a>
                <div style="width: 10px;"></div>
                <a href="{% url 'bacaditempat:show_detail_books' book.pk %}" class="btn btn-primary">
                    Lihat Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<h1 id="daftar-buku" class="container" style="font-weight: 700; text-align: center;">Daftar Buku Rented</h1>
<div class="card-container">
    {% for book in book_rented %}
    <div class="card text-white" style="width: 250px; height: 450px;">
        <div style="text-align: center;">
            <img class="card-img-top" src="{{book.thumbnail}}" alt="Card image cap" style="max-width: 200px; max-height: 250px; border-radius: 0;">
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title" style="font-size: 15px; color: black;">{{ book.title }}</h5>
                <p class="card-text" style="font-size: 15px; color: black;">Author: {{ book.display_authors }}</p>
            </div>
            <div style="display: flex; flex: row;">
                {% if book.user == user %}
                <a href="{% url 'bacaditempat:return_book' book.pk %}" class="btn btn-primary btn1">
                    Kembalikan
                </a>
                {% else %}
                <a disabled href="{% url 'bacaditempat:return_book' book.pk %}" class="btn btn-primary btn1">
                    Kembalikan
                </a>
                {% endif %}
                <div style="width: 10px;"></div>
                <a href="{% url 'bacaditempat:show_detail_books' book.pk %}" class="btn btn-primary">
                    Lihat Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="modal fade modal-custom" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Daftar Pinjaman</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for book in rented_books %}
                <div class="card text-white" style="width: 250px; height: 450px;">
                    <div style="text-align: center;">
                        <img class="card-img-top" src="{{book.thumbnail}}" alt="Card image cap" style="max-width: 200px; max-height: 250px; border-radius: 0;">
                    </div>
                    <div class="card-body">
                        <div>
                            <h5 class="card-title" style="font-size: 15px; color: black;">{{ book.title }}</h5>
                            <p class="card-text" style="font-size: 15px; color: black;">Author: {{ book.display_authors }}</p>
                        </div>
                        <div style="display: flex; flex: row;">
                            <div style="width: 10px;"></div>
                            <a href="{% url 'bacaditempat:return_book' book.pk %}">
                                <button type="button" class="btn btn-primary btn-sm">Kembalikan</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function getProducts() {
        
        return fetch("{% url 'bacaditempat:get_venue_json' %}").then((res) => res.json())
    }


</script>
    



{% endblock content %}

