.wholepage {
    padding: 100px;
    background-color: #126164;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    
}

.card-cont {
    padding: 35px;
    width: 600px; 
    height: 250px;
    border: solid 1px;
    border-radius: 20px;
    margin: 10px; 
    display: flex;
    flex-direction: row;
}

.custom-button {
    background-color: #CEDD00; 
    color: #0B7377; 
    padding: 10px 20px; 
    margin-top: 20px; 
    border: none; 
    border-radius: 20px; 
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    text-align: center;
}

.card-cont {
    background-color: darkseagreen;
}

.modal {
    color: black;
}