{% extends 'base.html' %}

{% block meta %}
<style>
    body {
        padding: 100px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

    .card-cont {
        padding: 35px;
        width: 600px; 
        height: 250px;
        border: solid 1px;
        border-radius: 20px;
        margin: 10px; 
        display: flex;
        flex-direction: row;
    }

</style>
{% endblock meta %}

{% block content %}
<h1>DimanaSajaKapanSaja</h1>

<div class="container">
        {% for station in stations %}
        <div class="card-cont">
            <div style="display: flex; justify-content: center; flex-direction: column; width: 50%;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                <div >{{ station.name }}</div>
            </div>
            <div style="width: 30px;"></div>
            <div style="display: flex; justify-content: space-around; flex-direction: column; width: 50%;">
                Alamat
                <div>{{ station.address }}</div>
                <a href="{% url 'dimanasajakapansaja:detail' station.pk %}" class="btn btn-primary">Lihat Detail</a>
            </div>
            <!-- <div>
                {{station.name}}
                <a href="{% url 'dimanasajakapansaja:del_station' station.pk %}">
                    <button>
                        HAPUS
                    </button>
                </a>
                <a href="{% url 'dimanasajakapansaja:edit_station' station.pk %}">
                    <button>
                        EDIT
                    </button>
                </a>
            </div>
            <div>{{station.address}}</div>
            <div>{{station.opening_hours}}</div>
            <div>{{station.rentable}}</div>
            <div>{{station.returnable}}</div>
            <img src="{{ station.map_location.url }}" alt="{{ station.name }}" style="width: 250px; height: 250px;"> -->
        </div>
        {% endfor %}

</div>
<br>
<a href="{% url 'dimanasajakapansaja:add_station' %}">
    <button>
        Tambah Station
    </button>
</a>
{% endblock content %}
